* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%; }

body {
  background: #ff4c4c;
  font-family: sans-serif;
  font-size: 4vw;
  margin: auto; }

header {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  color: #fff;
  display: block;
  margin-bottom: 1em;
  padding: 1em 0;
  text-align: center;
  width: 100%; }
  @media screen and (min-width: 767px) {
    header h1 {
      margin: 0; } }

.content__wrapper {
  margin: auto;
  overflow: hidden;
  padding: 0 1em; }
  @media screen and (min-width: 767px) {
    .content__wrapper {
      max-width: 70%; } }

.content__main {
  overflow: hidden; }
  .content__main h1, .content__main h2, .content__main h3, .content__main h4, .content__main h5, .content__main h6 {
    text-align: center; }

.input__container {
  position: relative; }

.form__input .input__container {
  height: 5em;
  margin-bottom: 1.5rem; }
  @media screen and (min-width: 767px) {
    .form__input .input__container {
      margin-bottom: 1rem; } }
  .form__input .input__container h3, .form__input .input__container input, .form__input .input__container label {
    margin-bottom: 2rem;
    position: absolute;
    top: 50%;
    transform: translatey(-50%); }
  .form__input .input__container input {
    padding: 1em .5em; }
  .form__input .input__container label {
    border: 3px solid #fff;
    padding: 1em .5em;
    text-align: right;
    width: 100%; }
  .form__input .input__container h3 {
    padding: 1em .5em;
    margin: 0;
    text-align: left; }

input, label {
  margin-bottom: 2rem;
  padding: 1em;
  width: 100%; }
  input:focus, label:focus {
    outline: none; }

input {
  font-size: 4vw; }

label {
  font-size: 5vw; }

.form__input input {
  font-size: 5vw; }

h1, h2, h3, h4, h5, h6,
p, li, label, a, th, td {
  color: #fff; }

.field__container {
  margin: 0 auto 1em; }

a {
  transition: all .7s ease;
  text-decoration: none;
  color: #333; }
  a:hover {
    background: #fff;
    color: #ff4c4c; }

.button {
  background: #fff;
  border-color: #ff4c4c;
  color: #ff4c4c;
  border: 1px solid;
  display: block;
  font-size: 5vw;
  margin-bottom: 1em;
  padding: 1em 0;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  width: 100%; }
  .button:focus {
    outline: none; }
  @media screen and (min-width: 767px) {
    .button {
      font-size: 3vw; } }
  .button a {
    color: #ff4c4c; }

.action {
  text-align: center;
  margin-bottom: 0; }
  @media screen and (min-width: 767px) {
    .action {
      display: table;
      width: 100%; } }
  @media screen and (min-width: 767px) {
    .action .button {
      display: table-cell;
      width: 50%; } }
  @media screen and (min-width: 767px) {
    .action.triple .button {
      display: table-cell;
      width: 33%; } }

tr {
  height: 2em; }
  tr > td {
    padding: 0 .5em;
    text-align: center;
    width: 25%; }
    tr > td:first-of-type, tr > td:last-of-type {
      font-size: 1rem; }

ul {
  list-style: none;
  padding-left: 0; }

li {
  margin-bottom: 1em; }

.content__main--header .row {
  display: table;
  margin-bottom: 1rem;
  width: 100%; }
  .content__main--header .row h2 {
    display: table-cell; }
    .content__main--header .row h2:first-of-type {
      text-align: left; }
    .content__main--header .row h2:last-of-type {
      text-align: right; }

.projects__list span {
  display: inline-block;
  margin-bottom: .5em; }
.projects__list span:last-of-type {
  float: right; }

progress {
  border-radius: 2px;
  appearance: none;
  -webkit-appearance: none;
  display: block;
  margin: auto;
  width: 100%; }

progress[value]::-webkit-progress-bar {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; }

progress[value]::-webkit-progress-value {
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0.1) 33%, rgba(255, 255, 255, 0.5) 66%, white);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%; }

@-webkit-keyframes animate-stripes {
  100% {
    background-position: -100px 0px; } }
@keyframes animate-stripes {
  100% {
    background-position: -100px 0px; } }

/*# sourceMappingURL=style.css.map */
