<!--
    New Project
-->
<section class="content__main">

    <div class="field__container">

        <p>What do you want to call your goal?</p>
        <!-- <input ng-change="field.edited = true" ng-model="field.name" ng-show="editing" ng-blur="editing = false;" ng-class="{'edited': field.edited}" type="text" placeholder="field.name">
        <label ng-click="editing = true" ng-hide="editing">{{ field.name }}</label> -->
        <label for="name"></label>
        <input type="text" name="name" id="name">

        <p>How much time do you need</p>
        <label for="time"></label>
        <input type="text" name="time" id="time">

    </div>

    <div class="action double">
        <a href="/" class="button">Back</a>
        <a href="#project-output-view" class="button">Save</a>
    </div>

</section>
