<!--
    Project Input
-->
<section class="content__main">

    <h1>{{ Beta.name }}</h1>
    <h2>{{ Beta.time }}</h2>

    <form name="inputTimeForm" novalidate>

        <div class="input__container">
            <!-- <label ng-click="editing = true; hide = false;" ng-hide="editing" for="time">{{timeInput}}</label> -->
            <!-- <input ng-click="editing = true" ng-blur="editing = false; hide = true;" ng-hide="hide" ng-model="timeInput" type="number" name="timeInput" id="time" placeholder="Manually input time here." required> -->
            <input ng-model="timeInput" type="number" name="timeInput" id="time" placeholder="{{timerWithInterval | hhmmss}}" required>
        </div>

        <div class="action triple">
            <button ng-click="startTimerWithInterval(); active = true;" ng-disabled="active" class="button">Start</button>
            <button ng-click="stopTimerWithInterval(); active = false;" class="button">Stop</button>
            <button ng-click="resetTimerWithInterval(); timeInput = '';" class="button">Reset</a>
        </div>

        <div class="">
            <button ng-disabled="inputTimeForm.$invalid" ng-click="go('project-output-view')" class="button">Confirm Time</button>
            <button ng-click="go('projects-list-view')" class="button">View Projects</button>
        </div>

    </form>

</section>
