<!--
    Projects List
-->
<section class="content__main">

    <div class="field__container">

        <ul class="projects__list">

            <li ng-click="loadData(); go('project-output-view');"><span>{{ ListItem.name }}</span><span>{{ ListItem.totalAccumulatedPctg.toFixed(2) }}% completed</span></li>
            <li><a href=""></a>Project #2</li>
            <li><a href=""></a>Project #3</li>
            <li><a href=""></a>Project #4</li>
            <li><a href=""></a>Project #5</li>
            <li><a href=""></a>Project #6</li>

        </ul>

        <div class="action">
            <a href="/" class="button">Start Over</a>
            <a href="" class="button" ng-click="clearData()">Clear Store</a>
        </div>


    </div>

</section>
