<!--
    Projects List
-->
<section class="content__main">

    <div class="field__container">

        <!-- <ul class="projects__list">

            <li ng-click="loadData(); go('project-output-view');"><span>{{ ListItem.name }}</span><span>{{ totalAccumulatedPctg.toFixed(2) }}% completed</span></li>
            <li><a href=""></a>Project #2</li>
            <li ng-repeat="item in ListItem"></li>


        </ul> -->

        <ul class="projects__list" ng-repeat="project in projectObject track by $index">
            <li ng-click="loadData(); go('project-output-view');"><span>{{ project.name }}</span><span>{{ accumulatedPctg.toFixed(2) }}% completed</span></li>
        </ul>


        <div class="action">
            <a href="/" class="button">Start Over</a>
            <a href="" class="button" ng-click="clearData()">Clear Store</a>
        </div>


    </div>

</section>
