
<section class="content__main">

    <div class="main detail-view">
        <div class="detail__wrap">

            <div class="field__container">

                <h2>{[{Detail.name }]}</h2>

            </div>

            <form id="form">

                <select id="calendar-menu"
                  ng-options="option for option in listOfOptions"
                  ng-model="calendar"
                  ng-change="updateCalendar()">
                  <option style="display:none" value="">select a month</option>"
                </select>

            <div id="calendar-space"></div>

            <ul>
              <li id="timestamp-{[{ time.timeStamp }]}" class="time__item" ng-repeat="time in timeObject" style="position: relative; margin-bottom: 1em; display: block; min-height: 1em;">
                <label class="time__item--label" ng-click="editing = true; working = false; testFunc();" ng-hide="editing" ng-show="working" for="time" style="position: absolute; color: black; z-index: 1;"></label>
                <input class="time__item--input timestamp-{[{ time.timeStamp }]}" ng-model="time.minutes" name="time" ng-hide="working" ng-show="editing" type="number" id="detail-time" style="position: absolute; width: 4em; color: red;">
              </li>
            </ul>
            <!-- <p>{[{ time.minutes }]}</p> -->

            <!-- <calendar-date></calendar-date> -->

        </form>

        </div>

    </div>

</section>

<nav class="">
    <button ng-click="go('project-input-view')" class="button">Add Time</button>
    <button ng-click="go('projects-list-view')"class="button">Tracks</button>
</nav>
