<!--
    Project Details
-->
<section class="content__main">

    <div class="field__container">

        <h1>{{ Detail.name }}</h1>

        <ul class="projects__list" ng-repeat="project in projectObject track by $index">
            <li ng-click="loadData(project)"><span>{{ project.timeStamp }}</span><span>{{ project.minutes }} minutes</span>
            </li>
        </ul>

        <div class="action">
            <a href="/" class="button">Add Missed Time</a>
            <a href="" class="button" ng-click="">Input New Time</a>
        </div>

    </div>

</section>
