
$red: #ff4c4c;
$white: #fff;
$black: #333;
$font-family: sans-serif;

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: $red;
    //display: table;
    font-family: $font-family;
    font-size: 4vw;
    margin: auto;
    //min-width: 20rem; // 320px
}

.field__container {
    // display: table-cell;
    // margin: auto;
    // vertical-align: middle;
}

header {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    color: #fff;
    display: block;
    margin-bottom: 1em;
    padding: 1em 0;
    text-align: center;
    width: 100%;

    h1 {
        @media screen and (min-width: 767px) {
            margin: 0;
        }
    }
}

.content__wrapper {
    //display: table-cell;
    //vertical-align: middle;
    margin: auto;
    overflow: hidden;
    padding: 0 1em;

    @media screen and (min-width: 767px) {
        max-width: 70%;
    }
}

.content__main {
    overflow: hidden;

    h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }
}

.input__container {
    // height: 5em;
    //margin-bottom: 1rem;
    position: relative;
}

.form__input {

    .input__container {
        height: 5em;
        margin-bottom: 1.5rem;

        @media screen and (min-width: 767px) {
            margin-bottom: 1rem;
        }

        h3, input, label {
            margin-bottom: 2rem;
            position: absolute;
                top: 50%;
                transform: translatey(-50%);
        }

        input {
            padding: 1em .5em;
        }

        label {
            border: 3px solid #fff;
            padding: 1em .5em;;
            text-align: right;
            width: 100%;
        }

        h3 {
            padding: 1em .5em;
            margin: 0;
            text-align: left;
        }
    }
}

input, label {
    margin-bottom: 2rem;
    padding: 1em;
    width: 100%;

    &:focus {
        outline: none;
    }
}

input {
    font-size: 4vw;
}

label {
    font-size: 5vw;
}

.form__input {
    input {
        font-size: 5vw;
    }
}


h1, h2, h3, h4, h5, h6,
p, li, label, a, th, td {
    color: $white;
}

.field__container {
    margin: 0 auto 1em;
    //padding: 0 2em;
}

a {
    transition: all .7s ease;
    text-decoration: none;
    color: $black;

    &:hover {
        background: $white;
        color: $red;
    }
}

.button {
    background: $white;
    border-color: $red;
    color: $red;
    border: 1px solid;
    display: block;
    font-size: 5vw;
    margin-bottom: 1em;
    padding: 1em 0;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;

    &:focus {
        outline: none;
    }

    @media screen and (min-width: 767px) {
        font-size: 3vw;
    }

    a {
        color: $red;
    }
}

.action {
    text-align: center;
    margin-bottom: 0;

    @media screen and (min-width: 767px) {
        display: table;
        width: 100%;
    }

    .button {

        @media screen and (min-width: 767px) {
            display: table-cell;
            width: 50%;
        }
    }

    &.triple .button {
        @media screen and (min-width: 767px) {
            display: table-cell;
            width: 33%;
        }
    }
}

tr {
    height: 2em;

    > td {
        padding: 0 .5em;
        text-align: center;
        width: 25%;

        &:first-of-type,
        &:last-of-type {
            font-size: 1rem;
        }

        &:last-of-type {
            //text-align: left;
        }
    }
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 1em;
}

.content__main--header {

    .row {
        display: table;
        margin-bottom: 1rem;
        width: 100%;

        h2 {
            display: table-cell;

            &:first-of-type {
                text-align: left;
            }

            &:last-of-type {
                text-align: right;
            }
        }
    }
}

.projects__list {
    span {
        display: inline-block;
        margin-bottom: .5em;
    }

    span:last-of-type {
        float: right;
    }
}

progress {
    // -webkit-animation: animate-stripes 5s linear infinite;
    //         animation: animate-stripes 5s linear infinite;
    border-radius: 2px;
    appearance: none;
    -webkit-appearance: none;
    display: block;
    margin: auto;
    width: 100%;
}

progress[value]::-webkit-progress-bar {
    background: rgba(255,255,255,.4);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {

    background: linear-gradient(-90deg, rgba(255,255,255,.1) 33%, rgba(255,255,255,.5) 66%, rgba(255,255,255,1))
	//    -webkit-linear-gradient(-45deg,
	//                            transparent 33%, rgba(0, 0, 0, .1) 33%,
	//                            rgba(0,0, 0, .1) 66%, transparent 66%),
	//    -webkit-linear-gradient(top,
	//                            rgba(255, 255, 255, .25),
	//                            rgba(0, 0, 0, .25)),
	//    -webkit-linear-gradient(left, #09c, #f44)
	;

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;

}

@-webkit-keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}

@keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}
















































// comment
